# Strings in Python

In [10]:
var = 'oi'

In [11]:
type(var)

str

In [12]:
type('oi')

str

In [14]:
print(var)

oi

## String concatenation

In [15]:
# Your code here
'Hello'+' '+'World!'

'Hello World!'

In [17]:
'Hello'+str(1)+'World!'

'Hello1World!'

In [19]:
x = 'Hello'
y = ' '
z = 'World'
x+y+z

'Hello World'

In [28]:
x = x + ' World!'

In [29]:
x

'Hello World! World! World! World! World!'

In [47]:
x = 'Hello'
x+=' World!'
x

'Hello World!'

## Multiline strings

In [51]:
# Your code here
print('''
a
b
c
''')

a
b
c

In [56]:
print('\ta\nb\n\n\n\nc')

	a
b



c

In [57]:
var = '''
    SELECT
        *
    FROM
        tabela
'''

In [60]:
var = 'SELECT\n*\n\tFROM\ntabela'

In [61]:
print(var)

SELECT
*
	FROM
tabela

In [59]:
print(var)

a
b
c

- `\n` é a representação da quebra de linha (enter)
- `\t` é a representação do TAB

# String multiplication

In [62]:
'Oi '*3

'Oi Oi Oi '

In [64]:
print('\t' * 4 + 'Madu')

				Madu

In [69]:
print('-'*100+'\nA query rodou!\n'+'-'*100)

----------------------------------------------------------------------------------------------------
A query rodou!
----------------------------------------------------------------------------------------------------

In [71]:
['Oi']*4

['Oi', 'Oi', 'Oi', 'Oi']

------

# Join list of strings

In [75]:
# Your code here
nomes = ['Maria', 'Eduarda', 'Nubié']
nomes

['Maria', 'Eduarda', 'Nubié']

In [77]:
del nome

In [76]:
len(nomes)

3

In [79]:
nome_completo = ' '.join(nomes)

In [80]:
nome_completo

'Maria Eduarda Nubié'

In [81]:
'-'.join(nomes)

'Maria-Eduarda-Nubié'

In [83]:
print('\n'.join(nomes))

Maria
Eduarda
Nubié

In [84]:
print('\t'.join(nomes))

Maria	Eduarda	Nubié

In [85]:
print('-------'.join(nomes))

Maria-------Eduarda-------Nubié

In [86]:
' '.join(['Maria', 'Eduarda', 'Nubie'])

'Maria Eduarda Nubie'

In [87]:
space = ' '

In [98]:
tuple_exemplo = (1, 2)

In [90]:
space.join(nomes)

'Maria Eduarda Nubié'

In [92]:
space.join('abcde')

'a b c d e'

In [94]:
space.join(['a', 'b', 'c', 'd', 'e'])

'a b c d e'

# The newline character (\n)

In [96]:
'\n'

'\n'

In [97]:
print('\n\n\n\n')

# Practical example

In [100]:
'''
SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION 
SELECT * FROM table_C ...
'''

'\nSELECT * FROM table_A\nUNION\nSELECT * FROM table_B\nUNION \nSELECT * FROM table_C ...\n'

In [101]:
queries = []

tables = ['table_A', 'table_B', 'table_C', 
          'table_D','table_E', 'table_F',
          'table_G','table_H', 'table_I']

In [102]:
tables

['table_A',
 'table_B',
 'table_C',
 'table_D',
 'table_E',
 'table_F',
 'table_G',
 'table_H',
 'table_I']

In [103]:
for each_table in tables:
    print(f'''SELECT * FROM {each_table}\nUNION''')

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I
UNION

In [105]:
f'SELECT * FROM {each_table}'

'SELECT * FROM table_I'

In [104]:
for each_table in tables:
    print(each_table)

table_A
table_B
table_C
table_D
table_E
table_F
table_G
table_H
table_I

In [107]:
queries = []

for each_table in tables:
    query = f'SELECT * FROM {each_table}'
    queries.append(query)

queries

['SELECT * FROM table_A',
 'SELECT * FROM table_B',
 'SELECT * FROM table_C',
 'SELECT * FROM table_D',
 'SELECT * FROM table_E',
 'SELECT * FROM table_F',
 'SELECT * FROM table_G',
 'SELECT * FROM table_H',
 'SELECT * FROM table_I']

In [108]:
print('\nUNION\n'.join(queries))

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I

# Size of strings

In [111]:
# Your code here
len('abc')

3

In [112]:
len('Maria\n')

6

In [113]:
len('''Maria
''')

6

In [114]:
len('''Maria''')

5

In [115]:
for letra in 'Maria':
    print(letra)

M
a
r
i
a

In [124]:
nome = 'Maria'

for letra in nome:
    print(letra)

M
a
r
i
a

## Operador in

In [125]:
10 in [1, 2, 3, 4, 4, 5, 7, 8, 9]

False

In [126]:
2 in [1, 2, 3, 4, 4, 5, 7, 8, 9]

True

In [127]:
'a' in 'Maria'

True

In [130]:
'valor' in {'valor': 10}

True

# Word slicing

In [132]:
# slicings in lists
x = [1,2,3,566,88,5,5,55576]
x[4:6]

[88, 5]

In [136]:
x = 'Maria'
x[1:]

'aria'

In [137]:
x[:1]

'M'

In [139]:
x[-2:]

'ia'

In [144]:
x[4]

'a'

# Splitting a string

Inverse of join

In [150]:
# Your code here
nome_completo = 'Maria,Eduarda,Nubie'
nome_completo.split(',')

['Maria', 'Eduarda', 'Nubie']

In [166]:
nome_completo.split('a', -1)

['M', 'ri', ',Edu', 'rd', ',Nubie']

In [159]:
nome_completo.split(',', -1)

['Maria', 'Eduarda', 'Nubie']

In [160]:
nome_completo.split(',', 1)

['Maria', 'Eduarda,Nubie']

In [167]:
# Your code here
nome_completo = 'Maria;Eduarda;Nubie'
nome_completo.split(';')

['Maria', 'Eduarda', 'Nubie']

In [170]:
print('''Maria
Eduarda
Nubié'''.split('\n'))

['Maria', 'Eduarda', 'Nubié']

In [175]:
list('abc')

['a', 'b', 'c']

In [172]:
list('[1, 2, 3]')

['[', '1', ',', ' ', '2', ',', ' ', '3', ']']

In [183]:
'''Maria
Eduarda
Nubié'''.split('\n')

'Nubié'

In [184]:
x = 'a b c'
x.split()

['a', 'b', 'c']

In [182]:
'''
Maria
Eduarda
Nubié'''[0]

'\n'

# Startswith vs Endswith

In [188]:
# Your code here
'Rodrigo Antoniaci'.startswith('Gui')

False

In [192]:
'Rodrigo Antoniaci'.endswith('ié')

False

In [193]:
'Rodrigo Antoniaci'.startswith('ROD')

False

In [196]:
'Rodrigo Antoniaci'.lower().startswith('rod')

True

In [198]:
'Rodrigo Antoniaci'.upper().startswith('ROD')

True

In [200]:
'Rodrigo Antoniaci'.lower()

'rodrigo antoniaci'

In [199]:
'Rodrigo Antoniaci'.upper()

'RODRIGO ANTONIACI'

In [201]:
# exemplo pratico
variables = ['qtd_casa','qtd_boleto','qtd_titulos','vlr_boleto','vlr_titulos','vlr_cartao']

In [208]:
for each_var in variables:
    if each_var.startswith('qtd_', 0):
        print(each_var)

qtd_casa
qtd_boleto
qtd_titulos

# Is it in a string?

In [209]:
'a' in 'abc'

True

In [210]:
'ab' in 'abc'

True

In [211]:
for each_var in variables:
    if 'qtd' in each_var:
        print(each_var)

qtd_casa
qtd_boleto
qtd_titulos

# String methods.

In [212]:
# Your code here
blog = 'MaRiA eDuArDa FaShIoN'

In [214]:
blog.capitalize()

'Maria eduarda fashion'

In [215]:
blog.upper()

'MARIA EDUARDA FASHION'

In [216]:
blog.lower()

'maria eduarda fashion'

In [217]:
blog.title()

'Maria Eduarda Fashion'

# Strip!

In [219]:
# Your code here
'São Paulo     '.strip()

'São Paulo'

In [221]:
'     São     Paulo     '.strip()

'São     Paulo'

In [224]:
' '.join('São     Paulo'.split())

'São Paulo'

In [226]:
' '.join('São     Paulo'.split())

'São Paulo'

In [227]:
'     São     Paulo     '.lstrip()

'São     Paulo     '

In [228]:
'     São     Paulo     '.rstrip()

'     São     Paulo'

# Replacing values

In [232]:
# Your code here
'Maria Eduarda Old-Fashioned'.replace('Old-Fashioned', 'Fashion')

'Maria Eduarda Fashion'

In [234]:
nome_completo.replace()

'Maria;Eduarda;Nubie'

In [235]:
'Eu adorei esse filme. adorei mesmo'.replace('adorei', 'detestei', 1)

'Eu detestei esse filme. adorei mesmo'

In [236]:
'Bruno Felix 123'.replace('123', 'scalioni')

'Bruno Felix scalioni'

In [238]:
'Eu Adorei esse filme. adorei mesmo'.lower().replace('adorei', 'detestei')

'eu detestei esse filme. detestei mesmo'

In [241]:
pwd

'/Users/maria.nubie/IronHack/ironhack-cv-review/material/classes'